PORT=
FRONT_URL=

NODE_ENV=development

MONGO_URI=

JWT_AUTH_SECRET=
JWT_REFRESH_SECRET=
JWT_AUTH_EXPIRE=
JWT_REFRESH_EXPIRE=
TOKEN_PASSWORD_EXPIRE

EMAIL_SERVICE=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=